.header {
  background: var(--color-grey);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}