:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #0F0F0F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}
a {
  color: inherit;
  text-decoration: none;
}
[disabled] {
  pointer-events: none;
}